Atom
castero
chromium
configstore
dconf
enchant
gconf
GIMP
gtk-2.0
gtk-3.0
htop
JetBrains
jgit
kazam
libreoffice
mate
mimeapps.list
neofetch
pavucontrol.ini
procps
pulse
QtProject
QtProject.conf
ranger
spotify
sublime-text-3
Thunar
transmission
vlc
xfce4
yay
